$primary-color: #005eeb;
$panel-color-primary: #005eeb;
$panel-color-primary-light-9: #e5eefd;
$panel-border-color: #f2f2f2;
$panel-menu-bg-color: rgba(0, 94, 235, 0.1);
$panel-main-bg-color-9: #f4f4f4;
